<%= form_with(model: create_cpu) do |form| %>
  <% if create_cpu.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(create_cpu.errors.count, "error") %> prohibited this create_cpu from being saved:</h2>

      <ul>
        <% create_cpu.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
