<h1>Editing create cpu</h1>

<%= render "form", create_cpu: @create_cpu %>

<br>

<div>
  <%= link_to "Show this create cpu", @create_cpu %> |
  <%= link_to "Back to create cpus", create_cpus_path %>
</div>
