<p style="color: green"><%= notice %></p>

<h1>Create cpus</h1>

<div id="create_cpus">
  <% @create_cpus.each do |create_cpu| %>
    <%= render create_cpu %>
    <p>
      <%= link_to "Show this create cpu", create_cpu %>
    </p>
  <% end %>
</div>

<%= link_to "New create cpu", new_create_cpu_path %>
