<%= form_with(model: create_gpu) do |form| %>
  <% if create_gpu.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(create_gpu.errors.count, "error") %> prohibited this create_gpu from being saved:</h2>

      <ul>
        <% create_gpu.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
