<p style="color: green"><%= notice %></p>

<h1>Create gpus</h1>

<div id="create_gpus">
  <% @create_gpus.each do |create_gpu| %>
    <%= render create_gpu %>
    <p>
      <%= link_to "Show this create gpu", create_gpu %>
    </p>
  <% end %>
</div>

<%= link_to "New create gpu", new_create_gpu_path %>
