<%= form_with(model: create_computer) do |form| %>
  <% if create_computer.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(create_computer.errors.count, "error") %> prohibited this create_computer from being saved:</h2>

      <ul>
        <% create_computer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
