<h1>Editing create computer</h1>

<%= render "form", create_computer: @create_computer %>

<br>

<div>
  <%= link_to "Show this create computer", @create_computer %> |
  <%= link_to "Back to create computers", create_computers_path %>
</div>
