<h1>Editing create client</h1>

<%= render "form", create_client: @create_client %>

<br>

<div>
  <%= link_to "Show this create client", @create_client %> |
  <%= link_to "Back to create clients", create_clients_path %>
</div>
