<p style="color: green"><%= notice %></p>

<h1>Create clients</h1>

<div id="create_clients">
  <% @create_clients.each do |create_client| %>
    <%= render create_client %>
    <p>
      <%= link_to "Show this create client", create_client %>
    </p>
  <% end %>
</div>

<%= link_to "New create client", new_create_client_path %>
