<h1>Editing create computer ram</h1>

<%= render "form", create_computer_ram: @create_computer_ram %>

<br>

<div>
  <%= link_to "Show this create computer ram", @create_computer_ram %> |
  <%= link_to "Back to create computer rams", create_computer_rams_path %>
</div>
