<p style="color: green"><%= notice %></p>

<h1>Create computer rams</h1>

<div id="create_computer_rams">
  <% @create_computer_rams.each do |create_computer_ram| %>
    <%= render create_computer_ram %>
    <p>
      <%= link_to "Show this create computer ram", create_computer_ram %>
    </p>
  <% end %>
</div>

<%= link_to "New create computer ram", new_create_computer_ram_path %>
