<h1>Motherboard Details</h1>

<% if notice %>
  <p><%= notice %></p>
<% end %>

<dl>
  <dt>Name:</dt>
  <dd><%= @motherboard.name %></dd>
  <!-- Adicione aqui os outros atributos da motherboard -->
</dl>
